.Dental_Sheet {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 40px;
  }

.title{
  font-weight: bold;
  padding-left: 10px;
}
.title1{
  font-size: 30px;
  padding-left: 30px;
  padding-bottom: 0;
  color: rgb(24, 9, 92);
  padding-top: 20px;
  
}

.invest{
  font-size: 30px;
  padding-left: 470px;
  padding-bottom: 0;
  color:rgb(24, 9, 92);
  padding-top: 20px;
  
}

.listcont{
  color: brown;
  font-weight: bold;
  padding-left: 10px;
  padding-top: 0%;
}

.instr{
  font-size: 20px;
  color: aliceblue;
  margin-top: 0%;
  padding-left: 30px;
}

.checkboxclass{
  padding-top:5%
}
